<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="update_xml_url" value="https://github.com/badlocale/SnailPass-Desktop-Client/releases/latest/download/UpdateInfo.xml"/>
		<add key="base_api_url" value="http://localhost:5000/"/>
		<add key="enc_key_hash_iterations" value="100000"/>
		<add key="network_hash_iterations" value="120000"/>
		<add key="local_hash_iterations" value="180000"/>
	</appSettings>
</configuration>